.container {
  height: 100vh;

  display: flex;
  align-items: stretch;

  .heroImg {
    height: 100vh;
    width: 100%;
    background-image: url("../../assets/img/hero.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.containerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;

  p:first-child {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;

    span {
      color: var(--cyan-500);
    }
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    input {
      flex: 1;
      background: #1f2729;
      border: 2px solid #eba417;
      border-radius: 4px;
      color: #ffffff;

      padding: 0.75rem;
      padding-right: 15rem;

      &:first-child {
        margin-bottom: 1rem;
      }
      margin-bottom: 2rem;
    }

    button {
      background: var(--yellow-500);
      height: 56px;
      border-radius: 10px;
      border: 0;
      padding: 0 3rem;
      color: var(--gray-900);
      font-weight: bold;
      margin-bottom: 2rem;

      transition: filter 0.2s;

      &:hover {
        filter: brightness(0.8);
      }
    }
  }

  p {
    a {
      color: var(--cyan-500);
      padding: 2rem 0;
    }
  }
}
