.headerContainer {
  height: 5rem;
  background-color: var(--gray-100);
  border-bottom: 1px solid var(--gray-800);
}

.headerContent {
  max-width: 1120px;
  height: 5rem;
  margin: 0 auto;
  padding: 0 2rem;

  a {
    font-size: 2rem;
    font-weight: bold;
    color: black;
    span {
      color: var(--cyan-500);
    }
  }

  p {
    font-size: 1.25rem;
    font-weight: bold;
    color: black;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    & > svg {
      margin-right: 0.5rem;
    }

    background: var(--yellow-500);
    height: 26px;
    border-radius: 5px;
    border: 0;
    padding: 0 1rem;
    color: var(--gray-900);
    font-weight: bold;

    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.8);
    }
  }

  display: flex;
  align-items: center;
  justify-content: space-between;
}
